<div class="container contacto">
    <h2 class="sec-title">Contactate con nosotros para consultas sobre trabajos y presupuestos</h2>
        <div class="ban-contacto d-flex justify-content-center">
            <img src="../img/Contacto.png" alt="Numero de telefono y mail" class="img-contacto">
    </div>
</div>
</div>