<footer class="d-flex mt-5 justify-content-center">
    <div class="row">

      <div class="cont col-xs-10 col-sm-10 col-md-3 col-lg-4">
        <div class="foot-left d-flex flex-column align-items-center">
          <h4 class="foot-title">Productos</h4>
          <div class="lista">
              <ul class="ul-lista">
                <li class="item-list"><a href="/matriculado/servicios">Certifiicaci칩n de aptitud</a></li>
                <li class="item-list"><a href="/matriculado/servicios">Medici칩n de puesta a tierra</a></li>
                <li class="item-list"><a href="/matriculado/servicios">Planos electromec치nicos</a></li>
                <li class="item-list"><a href="/matriculado/servicios">Corrector de factor de potencia</a></li>
                <li class="item-list"><a href="/matriculado/servicios">Instalaciones electricas</a></li>
              </ul>
            </div>
      </div>
      </div>

      <div class="cont col-xs-10 col-sm-10 col-md-3 col-lg-4">
        <div class="foot-center d-flex flex-column align-items-center">
            <h4 class="foot-title">Contacto</h4>
            <div class="lista">
                <ul class="ul-lista">
                    <li class="item-list"><a href="#">Whatsapp: 11-3898-9360</a> </li>
                    <li class="item-list"> <a href="#">Mail: edutec@outlook.com.ar</a></li>
                </ul>
            </div>
        </div>
      </div>

      <div class="cont col-xs-10 col-sm-10 col-md-3 col-lg-4">
        <div class="foot-right d-flex flex-column align-items-center">
            <h4 class="foot-title">Im치genes</h4>
            <ul>
                <li class="item-list"><a href="Imagenes.html">Fotos proporcionadas por FreePik</a></li>
            </ul>
        </div>
      </div>
    </div>
  </footer>