<nav class="navbar navbar-expand-xl navbar-dark bg-primary" aria-label="navbar Origen">
    <h1 class="titulo-nav">EDUTEC</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsAromo" aria-controls="navbarsAromo" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarsAromo">                
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/materiales/contacto-me">Contacto</a>
            </li>       
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/materiales/productos" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                </a>
                <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/materiales/productos">Lamparas</a></li>
                    <li><a class="dropdown-item" href="/materiales/productos">Llaves termicas</a></li>
                    <li><a class="dropdown-item" href="/materiales/productos">Disyuntores</a></li>
                    <li><a class="dropdown-item" href="/materiales/productos">Cables</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/materiales/consultas-me">Consultas frecuentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/materiales/ubicacion">¿Donde estamos?</a>
            </li>
        </ul>
    </div>
  </nav>