<div class="container">
    <h2 class="sec-title">¿Donde estamos?</h2>
        <div class="ubi-top">
            <p class="ubi-p">Estamos ubicados en Av. Patricios 6574, Libertad, Provincia de Buenos Aires</p>
        </div>
        <div class="row justify-content-center">
          <div class="ubi-bot col-xs-8 col-sm-8 col-md-8 col-lg-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.9569929107374!2d-58.70856448504872!3d-34.70626467043769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc10987899e99%3A0xb1b180966c7c55c9!2sEDUTEC%20materiales%20electricos!5e0!3m2!1ses!2sar!4v1622649294385!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="mapa"></iframe>
          </div>
        </div>
    </div>