<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/meta')%>
  </head>
  <body>
    <header>
      <%- include('../partials/nav-me')%>
    </header>
    <h2><%= title %></h2>
    <p>Welcome to <%= title %></p>
  </body>
</html>