<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/meta')%>
  </head>
  <body>
    <header>
      <%- include('../partials/nav-me')%>
    </header>
    <main>
        <%- include('../partials/ubicacion')%>
      </section>
    </main>

    <%- include('../partials/footer-me')%>
   
  </body>
</html>